body {
    background: url("img/bar.jpg") no-repeat;
    background-size: cover;

}

main {

    text-align: center;
    background-color: rgba(0, 0, 0, 0.692);
}

button {

    background-color: black;
    color: antiquewhite;
}

.card {
    margin: 20px;
    text-align: center;
    color: antiquewhite;
}

img {
    flex-direction: column;
    height: 300px;
    width: 100px;
}


.invisible {
    visibility: hidden;
}